h1.project-name a {text-decoration:none !important; color:#fff !important;}
h3.post-title { margin-bottom: 0px !important;}
h3 a.post-link {font-size:1.5em;}
.post-date {font-family: consolas; font-size:0.9em;}