<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/outrun.css">
</head>

<body>
    <div class="container header">
        <h1><a href="https://jonwhite.me">JonWhite.me</a></h1>
        <p>A simple retro website</p>
    </div>
    <br/>
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{date}}</p>
        {{page_content}}
    </div>
    <br/>
    <div class="container">
        <footer>
            <a href="../pages/about.html">About</a>
            <div class="copyright">&copy; {{year}} Jon White</div>
        </footer>
    </div>
</body>

</html>
